<div class="container mt-4">
  <div class="row">
    <div class="col-4">
      <img src="assets\images\insuremine.png" class="img-fluid" alt="" />
    </div>
    <div class="col-8">
      <div class="py-4">
        <h2>Insured Mine</h2>
      </div>
      <p>
        "InsuredMine provides a suite of digital products which help insurance
        agents enhance customer experience and loyalty, increase retention, and
        sell more using the InsuredMine insurance digital wallet, chatbot, agent
        portal, and social media triggers. InsuredMine’s Insurance agency
        software for Agents helps to enhance customer experience, convert,
        engage, and retain clients."
      </p>
    </div>
  </div>
</div>
